# 모듈 리스트

from ~ import를 사용해 모듈을 호출

In [1]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

dir()을 사용해 모듈을 탐색

In [2]:
import sklearn.model_selection
for module in dir(sklearn.model_selection)[:5] :
 print(module)

BaseCrossValidator
BaseShuffleSplit
GridSearchCV
GroupKFold
GroupShuffleSplit

\_\_all\_\_을 통해 하위 모듈을 확인

In [4]:
import sklearn
for module in sklearn.__all__[:5] :
 print(module)

calibration
cluster
covariance
cross_decomposition
datasets

## sklearn

### preprocessing(전처리)

- 스케일러
    - MinMaxScaler
    - RobustScaler
    - StandardScaler
- 인코더
    - LabelEncoder
    - OneHotEncoder

### model_selection(모델링 전처리)

- 데이터셋 분리
    - KFold
    - StratifiedKFold
    - train_test_split
- 하이퍼파라미터 튜닝
    - GridSearchCV

### 모델 학습 

- ensemble
    - AdaBoostClassifier
    - GradientBoostingClassifier
    - RandomForestClassifier
    - RandomForestRegressor
- linear_model
    - LogisticRegression
    - RidgeClassifier
- neighbors
    - KNeighborsClassifier
- svm
    - SVC
    - SVR
- tree
    - DecisionTreeClassifier
    - DecisionTreeRegressor
    - ExtraTreeClassifier
    - ExtraTreeRegressor 

### 모델 평가 

- metrics
    - accuracy_score
    - classification_report
    - confusion_matrix
    - f1_score
    - log_loss
    - mean_absolute_error
    - mean_squared_error
    - roc_auc_score
- model (정의된 모델에서 추출)
    - predict
    - predict_proba

### 최종 앙상블

- ensemble
    - StackingClassifier
    - StackingRegressor
    - VotingClassifier
    - VotingRegressor

In [5]:
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import KFold, StratifiedKFold, train_test_split, GridSearchCV
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, RandomForestClassifier, RandomForestReg
ressor
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, SVR
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, ExtraTreeClassifier, ExtraTreeRegressor
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, f1_score,roc_auc_score

ImportError: cannot import name 'RandomForestReg' from 'sklearn.ensemble' (/home/jeong/anaconda3/lib/python3.9/site-packages/sklearn/ensemble/__init__.py)

# 데이터 전처리 

## MinMaxScaler

In [6]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_test.csv')
display(train.head(2))

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
0,0,Female,Loyal Customer,54,Personal Travel,Eco,1068,3,4,3,...,5,5,3,5,3,5,3,47,22.0,NaN
1,2,Male,Loyal Customer,20,Personal Travel,Eco,1546,4,4,4,...,4,3,3,4,4,4,4,5,2.0,NaN

In [8]:
# Question 1 : trian 데이터의 Flight Distance 컬럼을 사이킷런 모듈을 사용하여 최솟값을 0 최댓값을 1값으로 하는 데이터로 변환하고 scaling을 이름으로 하는 컬럼으로 데이터프레임에 추가하라.
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
train['scaling'] = mm.fit_transform(train['Flight Distance'].values.reshape(-1, 1))

In [9]:
train[['Flight Distance', 'scaling']].describe()

       Flight Distance       scaling
count     83123.000000  83123.000000
mean       1191.164455      0.234282
std         997.171944      0.201368
min          31.000000      0.000000
25%         414.000000      0.077342
50%         846.000000      0.164580
75%        1744.000000      0.345921
max        4983.000000      1.000000

In [13]:
# Question 2 : train 데이터의 Flight Distance 컬럼을 pandas의 내장함수만을 이요하여 최솟값을 0, 최댓값을 1값으로 하는 데이터로 변환하고 scaling을 이름으로 하는 컬럼으로 데이터프레임에 추가하라.
train['scaling'] = (train['Flight Distance'] - train['Flight Distance'].min()) / (train['Flight Distance'].max() - t
rain['Flight Distance'].min())
train[['Flight Distance', 'scaling']].describe()

SyntaxError: invalid syntax (2945664743.py, line 3)

In [12]:
# Question 3 : train 데이터의 Age 컬럼을 MinMax 스키일링 진행하고 age_scaling 컬럼에 추가하고 train 셋과 같은 기준으로 test 데이터의 Age를 스케일링하여 age_scaling에 추가하라.
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
train['age_scaling'] = mm.fit_transform(train['Age'].values.reshape(-1, 1))
test['age_scaling'] = mm.transform(test['Age'].values.reshape(-1, 1))
test[['Age', 'age_scaling']].head(3)

   Age  age_scaling
0   28     0.269231
1   34     0.346154
2   23     0.205128

## Standard Scaler

In [14]:
# Question4 : train 데이터의 Age 컬럼을 pandas 기본 내장 모듈을 이용하여 정규화 스케일링을 진행하고 age_scaling 컬럼에 추가하라.
train['age_scaling'] = (train['Age'] - train['Age'].mean()) / train['Age'].std()
train[['Age', 'age_scaling']].describe()

                Age   age_scaling
count  83123.000000  8.312300e+04
mean      39.360249  5.947466e-17
std       15.102492  1.000000e+00
min        7.000000 -2.142709e+00
25%       27.000000 -8.184245e-01
50%       40.000000  4.236061e-02
75%       51.000000  7.707172e-01
max       85.000000  3.022001e+00

In [15]:
# Question 5 : train 데이터의 Age 컬럼을 sklearn 모듈을 이용하여 정규화 스케일링을 진행하고 age_scaling 컬럼에 추가하고 train셋과 같은 기준으로 test 데이터의 Age를 스케일링하여 age_scaling에 추가하라.
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
train['age_scaling'] = sc.fit_transform(train['Age'].values.reshape(-1, 1))
test['age_scaling'] = sc.transform(test['Age'].values.reshape(-1, 1))
train[['Age', 'age_scaling']].describe()

                Age   age_scaling
count  83123.000000  8.312300e+04
mean      39.360249  1.683172e-17
std       15.102492  1.000006e+00
min        7.000000 -2.142722e+00
25%       27.000000 -8.184294e-01
50%       40.000000  4.236086e-02
75%       51.000000  7.707219e-01
max       85.000000  3.022019e+00

## Label Encoder

In [16]:
import pandas as pd
#데이터 로드
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv")
display(train.head(2))

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17

# 모델링 전처리

In [17]:
import pandas as pd
x = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/x_train.csv")
y = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/y_train.csv")[['Drug']]
display(x.head(2))
display(y.head(2))

   ID  Age Sex      BP Cholesterol  Na_to_K
0   0   36   F  NORMAL        HIGH   16.753
1   1   47   F     LOW        HIGH   11.767

   Drug
0     0
1     3

In [21]:
# Question 6 : x, y데이터에서 train, test 세트를 구분하고 train셋의 y값과 test셋의 y값의 unique한 value 값을 출력하라. train: test는 7:3 비율, random_state = 42로 고정
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(x, y, train_size = 0.7, random_state = 42)
df_q6 = pd.concat([y_train.value_counts(), y_valid.value_counts()], axis = 1).reset_index().rename(columns = {0 : 'train', 1 : 'test'})
df_q6

   Drug  train  test
0     0     54    18
1     4     29    14
2     1     13     5
3     2      8     4
4     3      5     7

In [18]:
# Question 7 : x, y 데이터에서 train, test 세트를 구분하고 train셋의 y값과 unique한 value 값의 비율을 동일하게 추출하라.
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(x, y, train_size = 0.7, random_state = 42)
freq_q7 = pd.concat([y_train.value_counts(), y_valid.value_counts()], axis = 1).rename(columns = {0 : 'train', 1 :
'test'})
freq_q7 = freq_q7 / freq_q7.sum(axis = 0).values * 100
freq_q7

          train       test
Drug
0     49.541284  37.500000
4     26.605505  29.166667
1     11.926606  10.416667
2      7.339450   8.333333
3      4.587156  14.583333

# 모델링 

- model import
- model 선언, 초기 하이퍼 파라미터 지정
- model.fit(X_train, y_train)을 통한 모델 학습
- 회귀, 분류 문제 모두 model.predict(X_validaion)을 통한 예측
- auc값을 구해야하는 경우 model.predict_proba(X_validation)을 통합 확률 추출 (svm 모델의 경우 학습시킬때 probability = True)
- 원하는 metric으로 평가 eg) accuracy_score(y_valid, model.predict(X_valid))

In [23]:
import pandas as pd
#데이터 로드
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv")
display(train.head(2))

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17